body {
  background-color: cadetblue;
}

.card-img-top {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

#inputs {

  height: 100%;

}

#enterButton {
  position: relative ;
  top:50%;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid blue;
  outline: none;
  background-color: lightseagreen;
  color: darkblue;
}

.resize {

  width: 85%;
  margin-right: 0;
  margin-bottom: 5%;

}


.backToLists {
  font-weight: 10em;
  font-size: 1.2rem;
  color: white;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.done {
    text-decoration: line-through;
}

.blueTxt {
    color: blue;
}

.list-group {
  margin-left: 15%;
}

.deleteBtn {
  margin-left: 10%;


}

