body {
  background-color: cadetblue;
}

.card-img-top {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

#inputs {
  height: 100%;
}

#enterButton {
  position: relative;
  top: 50%;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid blue;
  outline: none;
  background-color: lightseagreen;
  color: darkblue;
}

#userInput {
  width: 85%;
  margin-right: 0;
  margin-bottom: 5%;
}

.backToLists {
  font-weight: 10em;
  font-size: 1.2rem;
  color: white;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

.list-group {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 4%;
  width: 85%;
}

.done {
  text-decoration: line-through;
}

.listItem {
  color: blue;
  border: 1px solid lightblue;
  border-color: teal;
  margin-bottom: 2%;
  border-radius: 5px;
  transition: all 1s ease-out;
  width: 100%;
}

.listItem:active {
  background-color: cadetblue;
  width: 0;
  opacity: 1;
}


.doneList {
  padding-top: 10px;
  margin-top: 30px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 4%;
  width: 85%;
}

.completedList {
  border-top: 3px solid cadetblue;
}

#deleteButton {
  background: none;
  border: none;
  color: cadetblue;
  font-weight: bold;
  float: left;
  margin-left: 4%;
  padding: 0;
  outline: none;
  cursor: pointer;
}
